.product-details {
  padding: 20px;
  text-align: center;
}

.product-details-image {
  max-width: 500px; /* Define o tamanho máximo para a imagem */
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.color-selector {
  display: flex;
  justify-content: center; /* Centraliza as opções de cor */
  align-items: center;
  gap: 10px; /* Espaçamento entre as cores */
  margin: 20px 0;
}

.color-option {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ddd;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease;
}

.color-option:hover {
  transform: scale(1.2);
  border-color: #000;
}

.color-option.selected {
  border-color: #000;
}

.tick {
  color: rgb(133, 145, 170);
  font-weight: bold;
  position: absolute;
  top: 4px;
  left: 8px;
  font-size: 18px;
  pointer-events: none;
}

.customize-button, .quote-button {
  background-color: #231057;
  color: #fdfcfc;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
  display: inline-block;
  width: auto;
  max-width: 200px; /* Define o tamanho máximo para o botão */
}

.customize-button:hover, .quote-button:hover {
  background-color: #000;
  color: #fff;
}
